# Python build artifacts
__pycache__/
*.pyc
*.spec
*.pyo
*.pyd
build/
dist/


# Local configuration and logs
config.json
dlc_sizes.json
logs/
*.log
check_arch.py
fetch_sizes.py
icon.png
git_upload.bat
build_windows.bat
app.manifest
version.txt
7z/

# Virtual environments
venv/
env/
.env
.venv/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
